:root{
    --card-background: #e3e3e3b3;
    --feverish-pink: #D4384E;
    --calypso: #31A9C1;
    --regatta: #2B5474;
    --lime-ricky: #A9C16B;
    --vivacious-pink: #E186A7;
    --rounded-corners: 0.5rem;
}

*{
    box-sizing: border-box;
    font-family: "Mukta Malar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    background-image: linear-gradient(45deg, #31a9c175,  var(--calypso), var(--regatta));
}

main {
    padding: 0rem 2rem 2rem 2rem;
}

b{
    font-weight: bold;
}


/*Header stydling*/
header {
    background-color: var(--regatta);
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
}

h2 {
    font-size: 2rem;
}

.v-line{
    border: 1px solid white;
    height: 100px;
    margin-left: 1rem;
}

.navbar, .header-name{
    color: white;
    margin: 0;
    list-style: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem
}

.navbar li{
    font-size: 1.5rem;
    padding: 1rem;

}

.navbar li:hover{
    background-color: var(--feverish-pink);
    border-radius: var(--rounded-corners);
}

header nav li a {
    text-decoration: none;
    color: white;

}



/*Hero image styling*/
h1 {
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.overlay {
    color: white;
    position: absolute;
    padding: 3rem;
    gap: 2rem;

    
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 500;

}

.hero-container{
    position: relative;
    
}

.hero-container, .room-card, header{
    width: 100%;
}

.hero-image, .room-image, .overlay{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*About and offer section*/
.about-section, .offer-section {
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--card-background);
    border-radius: var(--rounded-corners);
}

.offer-section{
    display: flex;
    gap: 2rem;
}

.offer-card, .feature-card {
    width: 50%;
}



/*Room showcase section*/


.card-header {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--feverish-pink);
}

.room-card, .booking-section {
    margin-top: 2rem;
    height: 30rem;
    padding: 2rem;
    max-width: 2000px;
    border-radius: var(--rounded-corners);
    display: flex;
    justify-content: space-between;
    background-color: var(--card-background);
}

.room-info-wrapper {
    width: 60%;
}

.room-img-container{
    width: 40%;
}

.room-image{
    border-radius: var(--rounded-corners);
}

button {
    background-color: var(--feverish-pink);
    cursor: pointer;
    border: 0px;
    border-radius: var(--rounded-corners);
    padding: 0.5rem;
    color: white;
}

button:hover{
    background-color:#9b1f30;
    box-shadow: 0px 2px 8px 0px var(--feverish-pink);
}



/*Booking section*/
.booking-section{
height: 35rem;
gap: 2rem
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calendar-container{
    width: 55rem;
}

.date-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.arrival-date-wrapper, .departure-date-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}



/*Footer styling*/
footer {
    background-color: var(--regatta);
    padding: 2rem;
    text-align: center;
}

footer p {
    margin: 0;
    color: var(--card-background);
}
